<body>
    <br>
 <div class="container">
     <div class="row">
         <div class="col-md-12">
            <h1 class="text">Administracion de Ventas </h1>
<button class="btn btn-outline-dark float-end" (click)="salir()">Regresar     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg></button>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-dark float-end" role="status">
                <span class="visually-hidden">loading...</span>
            </div>
        </div>
        <br>
        <br>
    </div>
    <br>
    <button class="btn btn-dark float-left" (click)="verVenta()">Ver Ventas  </button>
<br>
 <form *ngIf="ver" id="ver">
 <br>
 <h3>Ventas Realizadas</h3>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-bordered table-white" id="resultado">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Empleado</th>
                    <th>Nit</th>
                    <th>Telefono</th>
                     <th>Producto</th>
                     <th>Cantidad</th>
                    <th>precio</th>
                    <th>TipoPago</th>
                    <th>Fecha_Emision</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let producto of producto">
                    <td>
                        {{producto.codCliente}}
                    </td>
                    <td>
                        {{producto.codEmpleado}}
                    </td>
                    <td>
                        {{producto.nit}}
                    </td>
                    <td>
                        {{producto.telefono}}
                    </td>
                    <td>
                        {{producto.producto}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>
                    <td>
                        {{producto.costo}}
                    </td>
                    <td>
                        {{producto.tipoPago}}
                    </td>
                    <td>
                        {{producto.fechaEmision}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-6">
        <table class="table table-bordered table-white" id="resultado">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cant Ventas Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{tipo}}
                    </td>
                    <td>
                       {{primero}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{tipo1}}
                    </td>
                    <td>
                       {{segundo}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{tipo2}}
                    </td>
                    <td>
                       {{tercero}}
                    </td>
                </tr>
                 <tr>
                    <td>
                        {{tipo3}}
                    </td>
                    <td>
                       {{cuarto}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
        <table class="table table-bordered table-white" id="resultado">
            <thead>
                <tr>
                    <th>cod</th>
                    <th>Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let clien of cliente">
                    <td>
                        {{clien.codcliente}}
                    </td>
                    <td>
                       {{clien.nombre+" "+clien.apellido}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <h6>Ver compras por cliente</h6>
    <div class="row">
        <div class="col-md-6">
    <input type="number" [(ngModel)]="codigo1" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
    <button class="btn btn-primary float-end" (click)="buscarProductosCliente2()">Ver</button>
    </div>
    </div>
    <br>
    <h6>El cliente a echo un total de {{res1}} Compras</h6>
    <br>
    <div class="row">
        <div class="col-md-6">
        <table class="table table-bordered table-white" id="resultado">
            <thead>
                <tr>
                    <th>cod</th>
                    <th>Empleado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let clien of empleado">
                    <td>
                        {{clien.codempleado}}
                    </td>
                    <td>
                       {{clien.nombre+" "+clien.apellido}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <h6>Ver ventas por empleado</h6>
    <div class="row">
        <div class="col-md-6">
    <input type="number" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
    <button class="btn btn-primary float-end" (click)="buscarProductosCliente1()">Ver</button>
    </div>
    </div>
    <br>
    <h6>El empleado a echo un total de {{res}} Ventas</h6>
     </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     </body>
