<body>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1 class="text-dark">Creacion de cuenta</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-danger float-end" role="status">
                <span class="visually-hidden">loading...</span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12">
        <label class="float-end"> <a href="/"> Regresar</a></label>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>cod</th>
                    <th>vehiculo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let producto of productos">
                    <td>
                        {{producto.idvehiculo}}
                    </td>
                    <td>
                        {{producto.tipoVehiculo}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <h3>Datos para crear cuenta</h3>
    <form (ngSubmit) = "crearProducto()" id="crear">
     <br>
     <div class="row">
        <div class="col-md-12">
        <label class="text-dark">Ingresar Vehiculo</label>
           <input type="text" [(ngModel)]="producto.idvehiculo" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
        </div>
    </div>
    <br>
     <div class="row">
         <div class="col-md-12">
         <label class="text-dark">Ingresar Nit</label>
            <input type="text" [(ngModel)]="producto.nit" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
         </div>
     </div>
     <br>
     <div class="row">
         <div class="col-md-12">
         <label class="text-dark">Ingresar Cui</label>
            <input type="text" [(ngModel)]="producto.cui" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
         </div>
     </div>
     <br>
     <div class="row">
         <div class="col-md-12">
         <label class="text-dark">Ingresar Nombre</label>
            <input type="text" [(ngModel)]="producto.nombre" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
         </div>
     </div>
     <br>
     <div class="row">
         <div class="col-md-12">
         <label class="text-dark">Ingresar Apellido</label>
            <input type="text" [(ngModel)]="producto.apellido" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
         </div>
     </div>
     <br>
     <div class="row">
         <div class="col-md-12">
         <label class="text-dark">Ingresar Correo</label>
            <input type="email" [(ngModel)]="producto.correo" [ngModelOptions]="{standalone: true}" placeholder="ingresa" class="form-control" required>
         </div>
     </div>
      <br>
       <div class="row">
        <div class="col-md-12">
        <label class="text-dark">Genero</label>
           <select name = "miselect1"  [(ngModel)]="producto.genero" type="text" [ngModelOptions]="{standalone: true}"
                class="form-control"  required><br>
                <option [value]="item" *ngFor = "let item of lista">{{item}}</option>
                </select> 
      </div>
    </div>
     <br>
     <div class="row">
      <div class="col-md-12">
          <button class="btn btn-danger float-end" >Guardar     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
       <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
       <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
       </svg></button>
       </div>
      </div>
      <br><br>
       </form>
        </div>
     </body>
