<p>anuncio works!</p>
<body>
  <div class="container">
     <div class="row">
        <div class="col-md-12">
            <h1 class="text-white bg-dark">Proyecto Base De Datos I UMG</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
      </div>
      <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-danger float-right" role="status">
                <span class="sr-only">loading...</span>
            </div>
        </div>
        <br>
        <br>
      </div>
      </div>
    </body>